/* ==========================================================================
   Styles
   ========================================================================== */
.hidden,
[aria-hidden="true"] {
  display: none !important;
}
.visuallyhidden,
[role='listbox'] + select {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
form:before,
.clearfix:after,
form:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after,
form:after {
  clear: both;
}
@font-face {
  font-family: 'icon';
  src: url("../fonts/icons/icomoon.eot?suq2ua");
  src: url("../fonts/icons/icomoon.eot?#iefixsuq2ua") format("embedded-opentype"), url("../fonts/icons/icomoon.woff?suq2ua") format("woff"), url("../fonts/icons/icomoon.ttf?suq2ua") format("truetype"), url("../fonts/icons/icomoon.svg?suq2ua#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icon', sans-serif;
  content: attr(data-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 1rem;
  line-height: 1;
}
/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
html {
  font: 62.5%/1.5 sans-serif;
  color: #222;
  background-color: #e6e6e6;
}
body {
  font-size: 1.6rem;
}
p {
  margin: 0;
}
p + p {
  margin-top: 1rem;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  color: #808080;
}
input[type=text],
input[type=email],
input[type=search],
input[type=password],
textarea {
  width: 100%;
  padding: 0 0.6rem;
  background-color: #fafafa;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  outline: 0 solid rgba(92,173,214,0.2);
  outline-offset: 1.6rem;
  transition: box-shadow 0.2s linear, outline-offset 0.2s ease-out, outline-color 0.2s linear;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: rgba(92,173,214,0.8);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(92,173,214,0.8);
  outline: 4px solid transparent;
  outline-offset: 0px;
}
input[type=text],
input[type=email],
input[type=search],
input[type=password] {
  width: 100%;
  height: 3.5rem;
}
textarea {
  resize: vertical;
  padding: 0.4rem 0.6rem;
}
select {
  height: 2rem;
}
.js select {
  opacity: 0;
}
[role='listbox'] {
  height: 3rem;
}
[role='listbox']:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0 solid rgba(92,173,214,0.2);
  outline-offset: 1.6rem;
  transition: box-shadow 0.2s linear 0.1s, outline-offset 0.3s ease-out, outline-color 0.3s linear;
}
[role='listbox']:focus:before {
  box-shadow: 0 0 6px rgba(92,173,214,0.8);
  outline: 4px solid transparent;
  outline-offset: -1px;
}
[role='listbox']:focus > span {
  border-color: rgba(92,173,214,0.8);
}
[role='listbox'] > span {
  line-height: 3rem;
  padding: 0 2rem 0 0.6rem;
  border: 1px solid #999;
  border-radius: 3px;
}
[role='listbox'] > span:after {
  font-family: 'icon', sans-serif;
  content: "\e602";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  right: 0;
}
[role='listbox'] > ul,
[role='listbox'] > ol {
  background-color: #f0f0f0;
  border-color: #999;
  border-radius: 3px;
  box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
[role='listbox'] [role='option']:before {
  font-family: 'icon', sans-serif;
  content: "\e603";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[role='listbox'] [role='option']:focus,
[role='listbox'] [role='option']:hover {
  color: #000;
  background-color: #f5993d;
}
[role='listbox'] [aria-selected='true'] {
  color: #0b95da;
}
[role='listbox'][aria-disabled='true']:focus:before {
  box-shadow: none;
}
[role='listbox'][aria-disabled='true']:focus > span {
  border-color: #999;
}
nav {
  font-size: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
.nav-single {
  position: relative;
  min-height: 5rem;
  box-sizing: content-box;
}
.nav-single > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-single a {
  color: #fff;
  color: #000;
  text-decoration: none;
  padding: 1rem 2rem;
  text-align: center;
}
.nav-single a:focus,
.nav-single a:hover {
  background-color: #e6e6e6;
}
.nav-single > button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  background-color: #fff;
}
.nav-single > button:focus,
.nav-single > button:hover {
  background-color: #e6e6e6;
}
.nav-single > button:before {
  font-family: 'icon', sans-serif;
  content: "...";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.3em;
}
.nav-single button + ul {
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1;
}
.nav-single button + ul li,
.nav-single button + ul a {
  display: block;
}
.nav-visible {
  display: table;
  height: 100%;
}
.nav-visible > li {
  display: inline-table;
  height: 100%;
  vertical-align: middle;
}
.nav-visible > li > a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.PlaceholderLabel-label {
  background-color: #ebebeb;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 1px 1px 2px #fff;
  display: block;
  height: 1.4em;
  padding: 0 0.4em;
  margin-bottom: -1px;
  margin-bottom: -10px;
  font-size: 0.8em;
  opacity: 0;
  position: absolute;
  left: 0.8em;
  bottom: 100%;
  transition: opacity 0.1s linear, margin 0.2s ease-out;
}
.PlaceholderLabel-label.is-displayed {
  opacity: 1;
  margin-bottom: -1px;
  transition: opacity 0.2s linear, margin 0.1s ease-in;
}
.PlaceholderLabel-wrapper {
  position: relative;
}
[aria-label],
.Tooltip,
.Tooltip-e,
.Tooltip-w,
.Tooltip-s {
  position: relative;
}
[aria-label]:before,
.Tooltip:before,
.Tooltip-e:before,
.Tooltip-w:before,
.Tooltip-s:before {
  background-color: #666;
  border-radius: 3px;
  color: #fff;
  content: attr(aria-label);
  display: none;
  font: 1.4rem/1 Helvetica, sans-serif;
  cursor: text;
  right: 50%;
  bottom: 100%;
  margin-bottom: 6px;
  padding: 0.4em 0.6em;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  white-space: pre;
  word-wrap: break-word;
  z-index: 1000;
}
[aria-label]:after,
.Tooltip:after,
.Tooltip-e:after,
.Tooltip-w:after,
.Tooltip-s:after {
  position: absolute;
  display: none;
  content: "";
  border: 6px solid transparent;
  border-top-color: #666;
  top: -6px;
  right: 50%;
  margin-right: -6px;
  z-index: 1001;
}
[aria-label]:focus:before,
.Tooltip:focus:before,
.Tooltip-e:focus:before,
.Tooltip-w:focus:before,
.Tooltip-s:focus:before,
[aria-label]:hover:before,
.Tooltip:hover:before,
.Tooltip-e:hover:before,
.Tooltip-w:hover:before,
.Tooltip-s:hover:before,
[aria-label]:active:before,
.Tooltip:active:before,
.Tooltip-e:active:before,
.Tooltip-w:active:before,
.Tooltip-s:active:before,
[aria-label]:focus:after,
.Tooltip:focus:after,
.Tooltip-e:focus:after,
.Tooltip-w:focus:after,
.Tooltip-s:focus:after,
[aria-label]:hover:after,
.Tooltip:hover:after,
.Tooltip-e:hover:after,
.Tooltip-w:hover:after,
.Tooltip-s:hover:after,
[aria-label]:active:after,
.Tooltip:active:after,
.Tooltip-e:active:after,
.Tooltip-w:active:after,
.Tooltip-s:active:after {
  display: inline-block;
}
.Tooltip-e:before {
  right: auto;
  bottom: 50%;
  left: 100%;
  margin-bottom: 0;
  margin-left: 6px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.Tooltip-e:after {
  border-color: transparent #666 transparent transparent;
  top: 50%;
  right: -6px;
  margin-top: -6px;
  margin-right: 0;
}
.Tooltip-w:before {
  right: 100%;
  bottom: 50%;
  margin-right: 6px;
  margin-bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.Tooltip-w:after {
  border-color: transparent transparent transparent #666;
  top: 50%;
  left: -6px;
  margin-top: -6px;
  margin-right: 0;
}
.Tooltip-s:before {
  top: 100%;
  bottom: auto;
  margin-top: 6px;
  margin-bottom: 0;
}
.Tooltip-s:after {
  border-color: transparent transparent #666;
  top: auto;
  bottom: -6px;
}
[role='listbox'] {
  cursor: default;
  display: inline-block;
  position: relative;
  outline: 0;
  white-space: nowrap;
}
[role='listbox']:focus:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px dotted rgba(92,173,214,0.2);
}
[role='listbox'] > span {
  box-sizing: content-box;
  display: block;
  position: relative;
  padding: 0 2em 0 0.6em;
  z-index: 101;
}
[role='listbox'] > span:after {
  font-family: 'icon', sans-serif;
  content: "▼";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 4px;
}
[role='listbox'] > ul,
[role='listbox'] > ol {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -0.4em;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  z-index: 100;
}
[role='listbox'] > ul[aria-hidden='false'],
[role='listbox'] > ol[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  z-index: 102;
}
[role='listbox'] [role='separator'] {
  font-style: italic;
  font-weight: bold;
  padding: 0 0.3em;
}
[role='listbox'] [role='option'] {
  position: relative;
  padding: 0 1.2em;
  line-height: 1.2;
  outline: 0;
  transition: color 0.1s, background-color 0.1s;
}
[role='listbox'] [role='option']:before {
  font-family: 'icon', sans-serif;
  content: "✔️";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8em;
  display: none;
  position: absolute;
  left: 0.3em;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding-bottom: 0.2em;
}
[role='listbox'] [role='option'][aria-selected='true']:before {
  display: block;
}
[role='listbox'][aria-disabled='true']:focus:before {
  outline: 0;
}
[role='listbox'][aria-disabled='true'] > span {
  color: #999;
  border-color: #bfbfbf;
}
.wrapper {
  background-color: #fff;
  margin: 0 auto;
  padding: 1em 2em;
  width: 80%;
  max-width: 1024px;
}
/* Header
   -------------------------------------------------------------------------- */
.Header {
  font-size: 1.4em;
  position: relative;
}
.Header:before {
  content: "";
  background-color: rgba(255,128,0,0.5);
  display: block;
  position: absolute;
  top: 0;
  right: -9999px;
  bottom: 0;
  left: -9999px;
}
.Header > div {
  position: relative;
}
.Header h1 {
  font-size: 3em;
  margin: 0;
  position: relative;
}
.Header p {
  margin: 0;
}
/* PlaceholderLabel section
   -------------------------------------------------------------------------- */
form > div + div {
  margin: 2rem 0;
}
form fieldset {
  float: left;
  width: 45%;
  margin-left: 10%;
}
form fieldset:first-child {
  margin-left: 0;
}
form fieldset > div + div {
  margin: 2rem 0;
}
/* Anchors
   -------------------------------------------------------------------------- */
h2 {
  position: relative;
}
h2 [href^="#"] {
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0 0.2rem;
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
h2 [href^="#"]:before {
  font-family: 'icon', sans-serif;
  content: "#";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  padding-right: 0.7rem;
}
h2 [href^="#"] [aria-label] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h2 [href^="#"] [aria-label]:before,
h2 [href^="#"] [aria-label]:after {
  visibility: visible;
}
h2 [href^="#"]:focus,
h2 [href^="#"]:hover {
  opacity: 1;
}
h2 [href^="#"]:focus [aria-label]:before,
h2 [href^="#"]:hover [aria-label]:before,
h2 [href^="#"]:focus [aria-label]:after,
h2 [href^="#"]:hover [aria-label]:after {
  display: inline-block;
}
h2:focus [href^="#"],
h2:hover [href^="#"] {
  opacity: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
