/* ==========================================================================
   Listbox default styles
   ========================================================================== */

[role='listbox'] {
  cursor: default;
  display: inline-block;
  position: relative;
  // FF is buggy with outline and absolute position child
  // http://stackoverflow.com/questions/10662902/css-outline-different-behavior-behavior-on-webkit-gecko
  outline: 0;
  white-space: nowrap;
  &:focus:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    outline: 1px dotted lightblue;
  }

  + select {
    @extend .visuallyhidden;
  }

  > span {
    box-sizing: content-box;
    display: block;
    border: 1px solid grey;
    position: relative;
    padding: 0 2em 0 .6em;
    z-index: 101;
    &:after {
      @include icon("▼");
      position: absolute;
      bottom: 50%;
      -webkit-transform: translateY(50%);
      -o-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      right: 4px;
    }
  }

  > ul, > ol {
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 0;
    left: -.4em;
    // max-height: 10em;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s linear .2s,
      opacity .2s linear;
    z-index: 100;
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      z-index: 102;
    }
  }

  [role='separator'] {
    font-style: italic;
    font-weight: bold;
    padding: 0 .3em;
  }

  [role='option'] {
    position: relative;
    padding: 0 1.2em;
    line-height: 1.2;
    outline: 0;
    transition:
      color .1s,
      background-color .1s;
    &:focus, &:hover {
      background-color: grey;
      color: white;
    }
    &:before {
      @include icon("✔️");
      font-size: .8em;
      display: none;
      position: absolute;
      left: .3em;
      bottom: 50%;
      -webkit-transform: translateY(50%);
      -o-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      padding-bottom: .2em;
    }
    &[aria-selected='true']:before { display: block; }
  }

  &[aria-disabled='true'] {
    &:focus:before { outline: 0; }
    > span {
      color: hsl(0,0,60);
      border-color: hsl(0,0,75);
    }
  }
}
