
/* =============================================================================
    Tooltip component
============================================================================= */


/*
 * Usage : add an aria-label attribute to an HTML element.
 *
 * <span aria-label="The content of my tooltip">Tooltiped text</span>
 *
 */


$Tooltip-textcolor: white;
$Tooltip-bgcolor: hsl(0, 0, 40%);

// .Tooltip:before, .Tooltip:after { display: block !important; }

[aria-label],
.Tooltip {
  position: relative;
  &:before { // tooltip box
    background-color: $Tooltip-bgcolor;
    border-radius: 3px;
    bottom: 100%;
    color: $Tooltip-textcolor;
    content: attr(aria-label);
    display: none;
    // display: inline-block;
    // opacity: 0;
    // visibility: hidden;
    // transition: opacity .2s ease, visibility 0s linear .2s;
    font: .8rem/1 Helvetica, sans-serif;
    right: 50%;
    margin-bottom: 6px;
    padding: .4em .6em;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    white-space: pre;
    word-wrap: break-word;
    z-index: 1000;
  }
  &:after { // arrow
    position: absolute;
    display: none;
    content: "";
    border: 6px solid transparent;
    border-top-color: $Tooltip-bgcolor;
    top: -6px;
    right: 50%;
    margin-right: -6px;
    z-index: 1001;
  }
  &:focus, &:hover, &:active {
    &:before, &:after { display: inline-block; }
    // &:before, &:after { opacity: 1; visibility: visible; transition: opacity .2s ease, visibility 0s linear 0s; }
  }
}

.Tooltip-e {
  @extend .Tooltip;
  &:before { // tooltip box
    right: auto;
    bottom: 50%;
    left: 100%;
    margin-bottom: 0;
    margin-left: 6px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  &:after { // arrow
    border-color: transparent $Tooltip-bgcolor transparent transparent;
    top: 50%;
    right: -6px;
    margin-top: -6px;
    margin-right: 0;
  }
}

.Tooltip-w {
  @extend .Tooltip;
  &:before { // tooltip box
    right: 100%;
    bottom: 50%;
    margin-right: 6px;
    margin-bottom: 0;
    transform: translateY(50%);
  }
  &:after { // arrow
    border-color: transparent transparent transparent $Tooltip-bgcolor;
    top: 50%;
    left: -6px;
    margin-top: -6px;
    margin-right: 0;
  }
}

.Tooltip-s {
  @extend .Tooltip;
  &:before { // tooltip box
    top: 100%;
    bottom: auto;
    margin-top: 6px;
    margin-bottom: 0;
  }
  &:after { // arrow
    border-color: transparent transparent $Tooltip-bgcolor;
    top: auto;
    bottom: -6px;
  }
}