@import "base";

/* ==========================================================================
   Styles
   ========================================================================== */

.wrapper {
  background-color: white;
  margin: 0 auto;
  padding: 1em 2em;
  width: 80%;
  max-width: 1024px;
  min-height: 100%;
}

/*
   Header
   -------------------------------------------------------------------------- */

.Header {
  font-size: 1.4em;
  position: relative;
  &:before {
    content: "";
    background-color: hsla(30, 100, 50%, .5);
    display: block;
    position: absolute;
    top: 0;
    right: -9999px;
    bottom: 0;
    left: -9999px;
  }
  h1 {
    font-size: 3em;
    margin: 0;
    position: relative;
  }
  p {
    margin: 0;
  }
}

/*
   PlaceholderLabel section
   -------------------------------------------------------------------------- */

form {
  @extend .clearfix;
  fieldset {
    float: left;
    width: 45%;
    margin-left: 10%;
    &:first-child { margin-left: 0; }
    > div {
      margin: 1.5em 0;
    }
  }
}

/*
   Anchors
   -------------------------------------------------------------------------- */

h2 {
  position: relative;

  [href^="#"] {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    padding: 0 .2em;
    opacity: 0;
    text-decoration: none;
    transition: opacity .2s ease;
    &:before {
      font: bold 1em/1 sans-serif;
    }

    [aria-label] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before, &:after { visibility: visible; }
    }
    &:focus, &:hover {
      opacity: 1;
      [aria-label]:before, [aria-label]:after { display: inline-block; }
    }
  }
  &:focus, &:hover {
    [href^="#"] { opacity: 1; }
  }
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


@import "print";