
/* ==========================================================================
   Imports
   ========================================================================== */

@import "../bower_components/normalize.css/normalize.css",
        "base",
        "placeholderLabel",
        "tooltip",
        "icons",
        "selectbox";


/* ==========================================================================
   Styles
   ========================================================================== */

html, body {
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  padding: 1em 2em;
  width: 80%;
  max-width: 1280px;
  min-height: 100%;
}

/*
   Header
   -------------------------------------------------------------------------- */

.Header {
  font-size: 2em;
  position: relative;
  &:before {
    content: "";
    background-color: hsla(30, 100, 50%, .5);
    display: block;
    position: absolute;
    top: 0;
    right: -9999px;
    bottom: 0;
    left: -9999px;
  }
  h1 {
    margin: 0;
    position: relative;
  }
}

/*
   PlaceholderLabel section
   -------------------------------------------------------------------------- */

form {
  @extend .clearfix;
  // margin: 2em;
  // width: 300px;
  fieldset {
    float: left;
    width: 45%;
    margin-left: 10%;
    &:first-child { margin-left: 0; }
    > div {
      margin: 1.5em 0;
    }
  }
  label, input, textarea, select {
    font-size: 1em;
  }
  label {
    color: grey;
  }
  input,
  textarea {
    padding: .3em;
    width: 100%;
  }
  input {
    height: 2em;
  }
  select { width: 100%; }
}

/*
   Tooltip section
   -------------------------------------------------------------------------- */


/*
   Anchors
   -------------------------------------------------------------------------- */

h2 {
  position: relative;
}

.Anchor {
  font-size: .8em;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  padding: .2em .4em;
  opacity: 0;
  text-decoration: none;
  &:focus, &:hover,
  h1:focus &, h1:hover &,
  h2:focus &, h2:hover & { opacity: 1; }
}


@import "helpers";


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


@import "print";