/* ==========================================================================
   Icons
   ========================================================================== */

/*
 * Usage : add a data-icon attribute to an HTML element.
 *
 * <a href="#" data-icon="&#xe600;"> Icon with text</a>
 *
 *
 * <a href="#" data-icon="&#xe600;">
 *   <span class="visuallyhidden">Icon alone</span>
 * </a>
 *
 *
 * Accessibility & Screen Readers :
 *
 * It seems we can get rid of the aria-hidden="true" attribute since we use
 * PUA for the encoding of glyphs.
 * Resource : http://nimbupani.com/markup-free-icon-fonts-with-unicode-range.html
 *
 * However, it's not what it's said here :
 * http://css-tricks.com/html-for-icon-font-usage/
 *
 */

icon-anchor = "\e600"
icon-comment = "\e601"
icon-menu = "\e602"
icon-checkmark = "\e603"

@font-face
    font-family 'icon'
    src url("../fonts/icons/icomoon.eot?suq2ua")
    src url("../fonts/icons/icomoon.eot?#iefixsuq2ua") format("embedded-opentype"),
        url("../fonts/icons/icomoon.woff?suq2ua") format("woff"),
        url("../fonts/icons/icomoon.ttf?suq2ua") format("truetype"),
        url("../fonts/icons/icomoon.svg?suq2ua#icomoon") format("svg")
    font-weight normal
    font-style normal


icon(glyph)
    font-family 'icon', sans-serif
    content lookup('icon-' + glyph)
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


[data-icon]:before
    icon attr(data-icon)


// [href^="#"]:before
//   @include icon("#")
